@import "tailwindcss";

@theme {
  --color-bg: rgb(27,25,38);
  --color-purple-primary: rgb(42,39,55);
  --color-purple-secondary: rgb(76,71,106);
}

body {
  @apply bg-bg
}

html, body {
  @apply text-white font-light antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glassmorphism {
  backdrop-filter: blur(10px);
}
h1 {
  @apply text-4xl font-bold
}

h2 {
  @apply text-3xl font-semibold
}

h3 {
  @apply text-2xl font-medium
}

h4 {
  @apply text-xl font-medium
}