@import "tailwindcss";

@theme {
  --color-bg: rgb(27,25,38);
  --color-purple-primary: rgb(42,39,55);
  --color-purple-secondary: rgb(76,71,106);
}

body {
  @apply bg-bg
}

html, body {
  @apply text-white font-light antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glassmorphism {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* Gradient background */
  background: linear-gradient(
    65deg,
    rgba(46, 43, 59, 0.58) 0%,
    rgba(75, 73, 89, 0.85)
  ); 

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  box-shadow: 
    0 20px 40px rgba(0, 0, 0, 0.4),
    inset 0 1px 1px rgba(255, 255, 255, 0.1);

}
h1 {
  @apply text-4xl font-bold
}

h2 {
  @apply text-3xl font-semibold
}

h3 {
  @apply text-2xl font-medium
}

h4 {
  @apply text-xl font-medium
}